:root {
    --atomic-tangerine: #ffac90ff;
    --dark-atomic-tangerine: #c77b58ff;
    --aquamarine: #46e1b2ff;
    --dark-aquamarine: #3cb8a0ff;
    --night: #0e0e0eff;
    --light-night: rgb(83, 83, 83);
    --platinum: #e6e6e6ff;
}